
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    
      <!-- Barra de navegacao -->
	  <header>
	    <nav>
	      <div class="nav-wrapper">
	        <a href="/" class="brand-logo center">S.A.P.E.</a>
	        <ul id="nav-mobile" class="left hide-on-med-and-down">
	          <li><a href="/">Inicio</a></li>
	          <li><a href="/login">Login</a></li>
	          <li><a href="/faq">FAQ</a></li>
	        </ul>
	      </div>
	    </nav>
	  </header>
	  
	  <!-- Apresentacao do sistema e etc -->
	  <div class="container" style="padding: 60px 30px">
	  	<div class="col l6 s12">
	  	  <h5 align="center">Sistema de Atendimento ao Ponto Eletrônico</h5>
	  	  <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
	  	  	 bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
	  	  	 bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
	  	  	 bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
	  	  	 bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
		  </p>
	  	</div>
	  </div>
	  
	  <!-- Informacoes sobre os funcionarios -->
      <h6 align="left" style="padding: 30px">Equipe de Servidores</h6>
      <div style="padding: 50px 30px">
	    <div class="row valign-wrapper">
	      <div class="col s2">
	        <img src="imagens/perfilMulher.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	      </div>
	      <div class="col s10">
	      	<p>Um Dois Tres da Silva Quatro</p>
	        <span class="black-text">
	          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi gravida libero nec velit. Morbi scelerisque luctus velit. 
	          Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Proin mattis lacinia justo. Vestibulum facilisis auctor urna. 
	          Aliquam in lorem sit amet leo accumsan lacinia. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio,
	        </span>
	      </div>
	    </div>      
	    
	    <div class="row valign-wrapper">
	      <div class="col s2">
	        <img src="imagens/perfilHomem.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
	      </div>
	      <div class="col s10">
	      	<p>Fulano Ciclano de Beltrano</p>
	        <span class="black-text">
	          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi gravida libero nec velit. Morbi scelerisque luctus velit. 
	          Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Proin mattis lacinia justo. Vestibulum facilisis auctor urna. 
	          Aliquam in lorem sit amet leo accumsan lacinia. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio,
	        </span>
	      </div>
	    </div>
      </div>
      
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Informacoes</h5>
              <p class="grey-text text-lighten-4">Telefone: (63) 98145-7369</p>
              <p class="grey-text text-lighten-4">Email: suporte@semus.com</p>
              <p class="grey-text text-lighten-4">Endereco: 1302 Sul Al.: 10 Lt.:30</p>
              
            </div>
            <div class="row">
              <h5 class="white-text">Links</h5>
                <p class="grey-text text-lighten-3" href="">Prefeitura de Palmas</p>
                <p class="grey-text text-lighten-3" href="">Iann Braga</p>
                <p class="grey-text text-lighten-3" href="">Ricardo Lotz</p>
                <p class="grey-text text-lighten-3" href="">Dhouglas Rodrigues</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2020 Copyright Text
          <a class="grey-text text-lighten-4 right" href="/">Mais informacoes</a>
          </div>
        </div>
      </footer>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>
        